*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body,
.App {
  min-height: 100vh;
  margin: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 62.5%rem;
  /* background-color: #ffffff; */
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.scroll-box {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: auto !important;
}

a {
  text-decoration: none;
  font-style: normal;
  color: unset;
}
